<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


	
	
	
	<suite name="Thefractalproject.fractalapp" verbose="1">
    <test name="com.qa.fractal_functionaltests">
        <packages>
            <package name="com.qa.fractal_tests"/>
        </packages>
    </test>
</suite>


